html{
  width: 100%;
  height:100%;
  background-color: darkgray;
}
header{
  width: 100%;
  height: justify;
  position: fixed;
  opacity: 0.9;
  background:
    linear-gradient(
      to right,
    lime, coral, orange
  );
  top: 0;
}
header h1{
  height: 100%;
  float: left;
  /*color: rgba(128, 255, 0, 0.795)*/
  padding: 10px;
  margin: 5px;
  background:
    linear-gradient(
      to right,
      lime, red, coral, rgb(231, 165, 41), rgb(13, 49, 13)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav{
  height: 100%;
  display: inline-block;
  float: right;
  color: rgb(29, 77, 77);
  list-style-type: none;
  border:1px solid #f3f3f3;
  border-radius: 50px 50px;
  background-color: rgb(189, 255, 127);
  text-align: left;
}
header a:hover {
  background: 
  linear-gradient( 
    to right,
    coral, orange
  );
    border: 1px solid #f3f3f3;
    border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.5); */
}
.topWrapper{
  width: 100%;
  text-align: center;
  padding: 180px 0 100px 0;
  background-image: url("../images/IMAG1534-ANIMATION.gif");
  background-size: cover;
  color: rgba(255, 255, 255, 0.76);
  border: solid gray 1px;
  border-radius:  10px;
}
.topWrapper h2{
  background: 
  linear-gradient( 
    to right,
    green, rgb(29, 236, 29),yellow, coral, rgb(255, 52, 52),purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
  margin-bottom: 10px;
  letter-spacing: 5px;
  font-size: 75px;
  text-decoration-line: underline;
}
.topWrapper img{
  border-radius: 70px 70px;
  width: 150px;
}
.topWrapper span{
  color: red;
  font-style: italic;
}
.topWrapper strong{
  color: red;
  background-color: bisque;
}
.about{
  float: left;
  width: 50%;
  border: solid gray 2px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 5px rgb(160, 158, 158);
}
.projects{
  float: right;
  background-color: darkgrey;
  width: 48%;
  margin: 2px;
  padding: 5px;
  border: solid gray 2px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 5px rgb(160, 158, 158);
}
.projects a:hover{
  background: 
  linear-gradient( 
    to right,
    rgb(17, 134, 17), rgb(29, 236, 29),yellow, coral, rgb(255, 52, 52),purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.interests ul{
  list-style-type: square;
}

/* series of css rulest that was causing a bug to review later
footer{
  padding-top: 70px;
  width: 100%;  
  position: relative;
  background-color: rgb(22, 22, 49);
  bottom: 0;
}

footer p{
  color: rgb(230, 221, 221);
  float: initial;
  bottom: 0;
}
/*
footer h4{
  float:right;
  color: white;
  position: relative;
}
footer a{
  float:right;

}*/
footer{
  width: 100%;
  height: 10%;
}
address{
  border: 0.5px;
  float: right;
  height: 40%;
  font-size: 10px;
  width: 100%;
  background-color: rgb(22, 22, 49);
}
footer p{
  float: right;
  color: white;
  font-size: 10px;
}
footer img {
  width: 20px;
}
